# mission_to_mars
----

Written in the Python 3.7.9 Environment

By Nicole Lund 

This Jupyter Notebook scrapes Mars space data from various locations for storage in a Pymongo DB and display on a webpage.

In [2]:
# Import Dependencies
import pandas as pd 
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager

In [3]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 90.0.4430
Get LATEST driver version for 90.0.4430
Get LATEST driver version for 90.0.4430
Trying to download new driver from https://chromedriver.storage.googleapis.com/90.0.4430.24/chromedriver_win32.zip
Driver has been saved in cache [C:\Users\nlund\.wdm\drivers\chromedriver\win32\90.0.4430.24]

# NASA Mars News

* Scrape the [NASA Mars News Site](https://mars.nasa.gov/news/) and collect the latest News Title and Paragraph Text.

In [4]:
# Access NASA news site
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [21]:
# Collect the latest news headline and paragraph
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

latest_container = soup.find('div', class_='image_and_description_container')

news_headline = latest_container.find('div', class_='content_title').find('a').text

news_teaser = latest_container.find('div', class_='article_teaser_body').text

In [22]:
print(news_headline)
print('-------------------')
print(news_teaser)

NASA's InSight Mars Lander Gets a Power Boost
-------------------
The spacecraft successfully cleared some dust off its solar panels, helping to raise its energy and delay when it will need to switch off its science instruments.

# JPL Mars Space Images - Featured Image

* Scrape the [JPL Featured Space Image Website](https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/index.html) for the complete url string of the full size .jpg Featured Mars Image.

In [32]:
# Access JPL image site
base_url = 'https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/'
url = base_url + 'index.html'
browser.visit(url)

In [37]:
# Collect the full url path for the full size featured image
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

featured = soup.find('div', class_='floating_text_area')
relative_url = featured.find('a')['href']
featured_image_url = base_url + relative_url

In [38]:
print(featured_image_url)

https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/image/featured/mars1.jpg

# Mars Facts

* Use Pandas to scrape the table containing facts about the planet from [Mars Facts webpage](https://space-facts.com/mars/) then convert the data to a HTML table string.

In [47]:
# Collect Mars Facts Table
facts_url = 'https://space-facts.com/mars/'
facts_df = pd.read_html(facts_url)[0]

# Clean up table
facts_df = facts_df.rename(columns={0:'Description',1:'Value'})
facts_df = facts_df.set_index('Description')
facts_df

                                              Value
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [48]:
# Convert facts table to html string
facts_html = facts_df.to_html()
facts_html

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Value</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'